body{
	background-color: #008b8b;
}
.container-fluid{
            background-color: #056868;
            height: 80px;
            display: flex;
            flex-direction: row;
          top: 0;
          position: fixed;
           
        }
        ul{
            list-style-type: none;
        }
        li{
            float: left;
        }
        li a{

            font-size: 20px;
            display: block;
            color:white;
            text-align: center;
            padding: 14px 60px;
            text-decoration: none;
            margin-left: 0px;
            margin-right: -60px;
        }
        li a:hover{
            color:black;
        }

        li a:active{
            color: orange;
        }
            .img{
            width: 150px; 
            height: 100px;
            margin-top: 2px;
            margin-left: 6px;
            margin-right: 5px;
        }
        .shp{
            width: 50px;
            height: 50px;
            margin-top: 13px;
            margin-left: 40px;
        }

        .siapa{
        	color:white;
        	margin-top: 20px;
        	margin-left: 100px;
        	margin-right: 20px;
        	font-weight: bold;
        	font-size: 20px;
        }
        .siapa2{
        	border-radius: 100%;
        	width: 65px;
        	height: 65px;
        	margin: 10px;
        	margin-top: 5px;
        }


        .putih{
            width: 100%;
            
            background-color: transparent;
            display: flex;
            flex-direction: row;
        }
        .kontainer2{
            width: 20%;
          
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: transparent; 
        }

        .kotak{
            width: 80%;
            height: 170px;
            border-radius: 5%;
            background-color: #91e0e1;
            border-radius: 15px;
            margin-top: 105px;
        }
        .k1{
            width: 100%;
            text-align: center; 
            background-color: white;
            border-radius: 5px; 
            font-weight: bold;
        }
        .ipt{
            margin: 10px;
            margin-left: 30px;
        }
        .kotak1{
            width: 85%;
            height: 150px;
            border-radius: 5%;
            background-color:  #91e0e1;
            border-radius: 15px;
            margin-top: 10px;
        }

        .bntg{
            width: 15px;
            height: 15px;
            margin-right: 5px;
            margin-top: -5px;
        }

        .kotak2{
            width: 85%;
            height: 190px;
            border-radius: 5%;
            background-color: #91e0e1;
            border-radius: 15px;
            margin-top: 10px;
        } 

        .tb{
            margin-left: 28px;
        }
        .w{
            height: 35px;
        }
        .pp{
            margin-top: -5px;
            margin-bottom: 4px;
            font-size: 12px;
            margin-left: 10px;
        }
            .pp1{
            margin-top: -15px;
            margin-bottom: 1px;
            font-size: 12px;
            margin-left: -500px;
        }

        .kontainer3{
            width: 75%;
          
            display: flex;
           flex-direction: column;
            align-items: center;
            background-color: transparent;
            margin-top: 105px;
        }  

        .frr{
            width: 600px;
            margin-left: -100px;
        }
        .srr{
            width: 27px;
            height: 27px;
            margin-top: -5px;
        
        }
        .bv{
            height: 38px;
            margin-left: 100px;
        }

        .gg{
            width: 100%;
            height: 130px;
        }
        .pp1{
            font-size: 11px;
            margin-left:-5px; 
        }
        .pp2{
            font-size: 13px;
            font-weight: bold;
            margin-top: 5px;
            margin-left: -4px;
            margin-bottom: -36px;
        }
        .grr{
            border-radius: 2px solid black;
            width: 100%;
        }

        .rtt{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -5px;
        }
        .b33{
            margin-top: -10px;
        }

        .bwh1{
            display: flex;

            width: 80%;
            height: 37px;
            background-color: #91e0e1;
            margin-top: 20px;
            border-radius: 15px;
            text-align: center;
            justify-content: center;
        }
        .ppp2{
            margin: 5px;
        }
        .ppp3{
            margin: 5px;
            margin-left: 15px;
        }

        p.ppp2:hover{
            color:red;
        }