body{
	background-color: #008b8b;
}
.container-fluid{
            background-color: #056868;
            height: 80px;
            display: flex;
            flex-direction: row;
          top: 0;
          position: fixed;
           
        }
        ul{
            list-style-type: none;
        }
        li{
            float: left;
        }
        li a{

            font-size: 20px;
            display: block;
            color:white;
            text-align: center;
            padding: 14px 60px;
            text-decoration: none;
            margin-left: 0px;
            margin-right: -60px;
        }
        li a:hover{
            color:black;
        }

        li a:active{
            color: orange;
        }
            .img{
            width: 150px; 
            height: 100px;
            margin-top: 2px;
            margin-left: 6px;
            margin-right: 5px;
        }
        .shp{
            width: 50px;
            height: 50px;
            margin-top: 13px;
            margin-left: 40px;
        }

        .siapa{
        	color:white;
        	margin-top: 20px;
        	margin-left: 100px;
        	margin-right: 20px;
        	font-weight: bold;
        	font-size: 20px;
        }
        .siapa2{
        	border-radius: 100%;
        	width: 65px;
        	height: 65px;
        	margin: 10px;
        	margin-top: 5px;
        }
        .hm{
            margin-top: 100px;
        }

        .cont1{
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            
            align-items: center;
            justify-content: center;
            width: 100%           
        }
        .bv{
            width: 80%;
            border-radius: 15px;
            height: 38px;
            margin-left: 100px;
            background-color: #ededed;
        }
        .srr{
            width: 27px;
            height: 27px;
            margin-top: -5px;
            opacity:0.5;
        
        }
        .frr{
            width: 80%;
            margin-left: 100px;
            background-color: #ededed;
            
        }
        